{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Auctions - Categories
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2>Categories</h2>
        <div class="container-fluid mt-3"></div>
            <ul>
                {% for category in categories %}
                    <li class="mb-2"><a href="{%url 'category' category.id %}">{{ category.category | capfirst }}</a></li>
                {% empty %}
                    <p>No categories available</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}